.full-height-navbar {
  height: 100%; /* Растягиваем Navbar по высоте родителя */
}
.navbar {
  padding: 0;
}

#header .navbar a,
#header .navbar a:focus {
  margin-left: 5px;
  padding: 25px 15px 24px 15px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
}

.navbar a:hover,
.navbar .active {
  background: #cc1616;
}

#header .navbar a.logo {
  margin-left: 0;
  padding: 0;
  font-size: 30px;
  transition: none;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}
#header .navbar a.logo:hover {
  background: none;
}
.full-height-navbar {
  transition: background-color 0.3s ease;
}

.scrolled-navbar {
  background-color: #191919 !important;
}

/* .navbar-collapse.show {
  background-color: #fff;
} */

/* #header .navbar a,
#header .navbar a:focus {
  color: #191919;
} */
