.full-height-navbar {
  height: 100%; /* Растягиваем Navbar по высоте родителя */
}
.navbar a,
.navbar a:focus {
  padding: 25px 15px 24px 15px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
